/*Google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Google fonts import -> "Inika" Serif*/
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

/*Asterisk wildcard selector*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*General styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Header*/
header {
  background-color: #ff895d;
  margin: 0;
  padding: 1.3rem;
  /*Create flex container*/
  display: flex;
  /*Position logo to the left and menu bar to the right*/
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0 2px 2px #212121;
}
/*Style logo*/
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #212121;
  letter-spacing: 2px;
}
/*Navbar styles with dropdown toggle*/
nav {
  position: absolute;
  background-color: #ff895d;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #212121;
  /*Navbar hidden until hover over*/
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}
/*Hide checkbox*/
#nav-toggle {
  display: none;
}

/*Menu display label*/
.nav-toggle-label {
  font-size: 2rem;
}

/*Menu bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 110%;
}
/*Submenu*/
nav ul .submenu ul {
  display: none;
  position: absolute;
  padding: 6px;
}
/*When you hover over submenu*/
nav ul .submenu:hover ul {
  display: block;
  background-color: #ffffff;
}

nav ul .submenu ul li {
  display: block;
  margin-top: 4px;
}
/*Menu options*/
nav ul li {
  margin-right: 20px;
  margin-bottom: 1em;
}
/*Menu options link*/
nav ul li a {
  color: #000000;
  text-decoration: none;
}
/*Select the <a> element of the menu/submenu and underline when being hovered*/
nav ul li:hover > a,
nav ul .submenu ul li:hover > a {
  background-color: transparent;
  text-decoration: underline;
}

/*Photo of happy african kids*/
.homepage-image img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  top: 80px;
}
/*Main content*/
main {
  background-color: #d5eeff;
  /*Make main take up most space and push footer down*/
  flex: 1 0 auto;
}

/*Information about us, displayed below homepage image*/
.info-about-us {
  position: relative;
  top: 5rem;
  text-align: center;
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 0.75rem;
}

/*Text about us*/
.info-about-us p {
  max-width: 100%;
  margin: 0 auto;
  font-size: 1rem;
}

/*Learn more button displayed below text*/
.learn-more-button {
  background: #ff895d;
  font-size: 15px;
  display: block;
  margin: auto;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 8px 8px 8px #393e46;
  transition: all 200ms ease-in-out;
  position: center;
  right: 20%;
}

/*Remove underline from link*/
a {
  text-decoration: none;
}
/*Add cursor and change font-size when hovering*/
a:hover,
.learn-more-button:hover {
  cursor: pointer;
  font-size: 19px;
}

/*Section 2*/
.projects {
  background-color: #ff895d;
  width: 100%;
  height: auto;
}
/*Images of african kids*/
.project-images {
  display: flex;
  gap: 5px;
  align-items: center;
}
/*Change size of images*/
.project-images img {
  width: calc(33.33% - 10px);
  margin: 5px;
}
/*Image of boy in school*/
.boy-in-school {
  order: 1;
}
/*Image of kids in classroom*/
.kids-in-classroom {
  order: 3;
}
/*Image of happy girls*/
.happy-girls {
  order: 2;
}
/*Text about our projects*/
#project-text {
  text-align: center;
  max-width: 100%;
  font-weight: normal;
  font-size: 1.25em;
}

/*Footer*/
footer {
  background-color: #d5eeff;
}
/* Increase font size for screens larger than 320px */
@media screen and (min-width: 320px) {
  #project-text {
    font-size: 22px;
  }
}
/* Increase font size for screens larger than 480px */
@media screen and (min-width: 480px) {
  #project-text {
    font-size: 24px;
  }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    /* Push main content down to accommodate larger header */
    margin-top: 90px;
  }

  /*Photo of happy african kids*/
  .homepage-image img {
    top: 0;
  }

  /*Textbox on homepage image*/
  .textbox {
    position: absolute;
    top: 30%;
    left: 70%;
    box-sizing: border-box;
    width: 250px;
    height: 80px;
    font-size: 120%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    text-align: center;
    margin: auto;
    z-index: 102;
  }

  /*Information about us, displayed below homepage image*/
  .info-about-us {
    top: 1em;
    margin-bottom: 10px;
    font-size: 1em;
  }
  /*Information about us, displayed below homepage image*/
  .info-about-us h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  /*Text about us*/
  .info-about-us p {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 20px;
  }

  /*Learn more button displayed below text*/
  .learn-more-button {
    font-size: 0.6em;
    position: absolute;
    right: 20%;
  }
  /*Change font-size when hovering*/
  a:hover,
  .learn-more-button:hover {
    font-size: 0.8em;
  }

  /*Images of african kids in section 2*/
  .project-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*Change size of images in section 2*/
  .project-images img {
    width: 400px;
    height: auto;
    margin: 0 10px;
  }
  /*Text about our projects*/
  #project-text {
    text-align: left;
    width: 550px;
    position: absolute;
    right: 10%;
    font-weight: normal;
    font-size: 35px;
  }
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

  /*Information about us, displayed below homepage image*/
  .info-about-us {
    top: 8px;
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  /*Text about us*/
  .info-about-us p {
    font-size: 2rem;
    margin-top: 1em;
  }
  /*Text about our projects*/
  #project-text {
    font-size: 40px;
  }
}
