/*Google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Google fonts import -> "Inika" Serif*/
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
/*Google fonts import <> Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*Asterisk wildcard selector*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*General styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inika", serif;
  font-style: normal;
  font-size: 0.75rem;
}

/*Header*/
header {
  background-color: #ff895d;
  margin: 0;
  padding: 1.3rem;
  /*Create flex container*/
  display: flex;
  /*Position logo to the left and menu bar to the right*/
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0 2px 2px #212121;
}
/*Style logo*/
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #212121;
  letter-spacing: 2px;
}

/*Navbar styles with dropdown toggle*/
nav {
  position: absolute;
  background-color: #ff895d;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #212121;
  /*Navbar hidden until hover over*/
  display: none;
  top: 100%;
  font-size: 13px;
}

#nav-toggle:checked ~ nav {
  display: block;
}
/*Hide checkbox*/
#nav-toggle {
  display: none;
}

/*Menu display label*/
.nav-toggle-label {
  font-size: 2rem;
}

/*Menu bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 110%;
}
/*Submenu*/
nav ul .submenu ul {
  display: none;
  position: absolute;
  padding: 6px;
}
/*When you hover over submenu*/
nav ul .submenu:hover ul {
  display: block;
  background-color: #ffffff;
  font-size: 15px;
}

nav ul .submenu ul li {
  display: block;
  margin-top: 4px;
}
/*Menu options*/
nav ul li {
  margin-right: 20px;
  margin-bottom: 1em;
}
/*Menu options link*/
nav ul li a {
  color: #000000;
  text-decoration: none;
}
/*Select the <a> element of the menu/submenu and underline when being hovered*/
nav ul li:hover > a,
nav ul .submenu ul li:hover > a {
  font-size: 15px;
  background-color: transparent;
  text-decoration: underline;
}

/*Photo of happy african kids*/
.homepage-image img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  top: 80px;
}
/*Textbox on homepage image, since it's not important. It's only displaying on larger devices*/
.textbox {
  display: none;
}
/*Main content*/
main {
  background-color: #d5eeff;
  /*Make main take up most space and push footer down*/
  flex: 1 0 auto;
}

/*Information about us, displayed below homepage image*/
.info-about-us {
  margin-top: 4px;
  margin-bottom: 110px; /*Create more space between this section and the next*/
  position: relative;
  top: 5rem;
  text-align: center;
}

/*Text about us*/
.info-about-us p {
  max-width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  padding: 8px;
  margin-bottom: 20px;
}
/*Style all buttons on page*/
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 15px;
  box-shadow: 8px 8px 8px #393e46;
  transition: all 200ms ease-in-out;
  color: black;
  font-family: "Roboto", sans-serif; /*Font from https://fonts.google.com/selection/embed*/
  font-weight: 500;
  font-style: normal;
}

a:hover,
.button {
  cursor: pointer;
  font-size: 16px;
}
/*Specific styles for "learn-more-button" displayed below text*/
#learn-more-button {
  background: #ff895d;
}

/*Section 2*/
.projects {
  background-color: #ff895d;
  width: 100%;
  height: auto;
}
/*Images of african kids*/
.project-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
/*Change size of images*/
.project-images img {
  width: 120px;
  margin: 5px 10px 15px; /* Add space of 5 pixels at the top, 10 pixels at the left and right, and 15 pixels at the bottom */
}
/*Create space from the top so the two images pushes down a little*/
.boy-in-school,
.happy-girls {
  margin-top: 15px;
}
/*Image of boy in school*/
.boy-in-school {
  order: 1;
}
/*Image of kids in classroom*/
.kids-in-classroom {
  order: 3;
}
/*Image of happy girls*/
.happy-girls {
  order: 2;
}
/*Div id for project section*/
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/*Text about our projects*/
#project-text {
  width: 250px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 8px;
}
/*Button displayed in project section*/
#project-button {
  background: #d5eeff;
  margin-top: 10px; /* Add a margin-top to create space between text and button */
  margin-bottom: 20px;
}

/*NEW SECTION*/
/*Style video container*/
.iframe-container {
  width: 200px; /*16:9 Aspect Ratio*/
  height: 113px; /*16:9 Aspect Ratio*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
}
/*Div id for text and video button in third section*/
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/*Text to video*/
#text-video {
  color: #212121;
  font-size: 1rem;
  max-width: 100%;
  padding: 8px;
  margin: 0 auto;
}

/*Button displayed in video section (third section)*/
#video-button {
  background: #ff895d;
  margin-top: 10px; /* Add a margin-top to create space between text and button */
  margin-top: 20px;
}

/*NEW SECTION*/
/*Volunteer section including image, text & button link*/
.volunteer-section {
  background-color: #ff895d;
  margin-top: 30px; /* Create more space from the previous section and new section */
  text-align: center; /* Center align text content */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange items vertically */
}

.volunteer-section > * {
  margin: auto; /* Center align non-text elements */
}
/*Image of volunteers helping and smiling at children*/
.volunteer-section img {
  order: 1; /* Move the image to the top */
  width: 200px; /* Set the desired width */
  height: 113px; /* Set the desired height */
  margin-top: 20px;
}

.volunteer-section p {
  order: 2; /* Move the text to the middle */
  color: #212121;
  max-width: 250px;
  font-size: 1rem;
  margin-top: 10px;
}

.volunteer-section a {
  order: 3; /* Move the link button to the bottom */
}

/*Button displayed in volunteer section (fourth section)*/
#volunteer-button {
  background: #d5eeff;
  margin-top: 20px; /* Add a margin-top to create space between text and button */
  margin-bottom: 20px;
}
/*This container wraps around the content that is centered*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally center the content */
  justify-content: center; /* vertically center the content */
}
/*The two lines that surround "Support Love Children Foundation"*/
.line {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 4px solid #d9d9d9; /* set the color and thickness of the top line */
  border-bottom: 4px solid #d9d9d9; /* set the color and thickness of the bottom line */
  padding: 10px; /* add some padding to make space for the text */
  text-align: center; /* center the text horizontally */
  font-size: 25px; /* customize the font size of the text */
  color: #3a3a3a; /* set the color of the text */
}
/*Add same font family to title as list below it*/
.line,
ul {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
/*Style list*/
ul {
  display: inline-block;
  margin-right: 10px; /* adds spacing between the lists */
  margin-bottom: 30px;
  text-align: center;
  list-style-type: none;
}
.bigger-text {
  font-size: 20px;
}
/*Footer*/
footer {
  background-color: lightgrey;
  padding: 20px;
  text-align: center;
  padding-top: 10px;
}
/*Style social media icons in footer, make it centered*/
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/*Social media link attribute*/
.social-media-icons a {
  margin: 0 10px;
  color: #000;
  text-decoration: none;
  font-size: 26px;
}
/*Change color to red when you hover*/
.social-media-icons a:hover {
  color: #f00; /* Change the color on hover */
}
/* Increase font size for screens larger than 320px */
@media screen and (min-width: 320px) {
  #project-text {
    font-size: 18px;
    width: 300px;
  }

  /*Change size of images*/
  .project-images img {
    width: 125px;
    margin: 5px 10px 15px; /* Add space of 5 pixels at the top, 10 pixels at the left and right, and 15 pixels at the bottom */
  }

  /*Style video container*/
  .iframe-container {
    width: 250px; /*16:9 Aspect Ratio*/
    height: 141px; /*16:9 Aspect Ratio*/
    margin-top: 25px;
  }
  .volunteer-section img {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .volunteer-section p {
    font-size: 1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px;
  }
}
/* Increase font size for screens larger than 480px */
@media screen and (min-width: 480px) {
  /*Text about us*/
  .info-about-us p {
    margin: 20px;
  }
  /*Learn more button displayed below text*/
  .learn-more-button {
    margin-bottom: 10px;
  }
  /*Change size of images in section 2*/
  .project-images img {
    width: 140px;
    height: auto;
  }
  #project-text {
    font-size: 24px;
    width: 490px;
  }
  /*Style video container*/
  .iframe-container {
    width: 350px; /*16:9 Aspect Ratio*/
    height: 197px; /*16:9 Aspect Ratio*/
    margin-top: 25px;
  }
}
/* Media query: tablets and larger (630px and up) */
@media screen and (min-width: 630px) {
  /*Make project images respnsive to screen size*/
  .project-images img {
    width: 180px;
    height: auto;
    margin: 15px;
  }
  #project-text {
    font-size: 32px;
    width: 500px;
  }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    /* Push main content down to accommodate larger header */
    margin-top: 90px;
  }

  /*Photo of happy african kids*/
  .homepage-image img {
    top: 0;
  }

  /*Textbox on homepage image*/
  .textbox {
    position: absolute;
    top: 30%;
    left: 70%;
    box-sizing: border-box;
    width: 250px;
    height: 80px;
    font-size: 120%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    text-align: center;
    margin: auto;
    z-index: 102;
  }

  /*Information about us, displayed below homepage image*/
  .info-about-us {
    top: 1em;
    margin-bottom: 120px;
    font-size: 1em;
    position: relative;
  }
  /*Information about us, displayed below homepage image*/
  .info-about-us h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  /*Text about us*/
  .info-about-us p {
    max-width: 1000px;
    font-size: 20px;
  }

  /*Style all buttons on page*/
  .button {
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 17px;
  }
  /*Make text bigger when hovering*/
  a:hover,
  .button {
    font-size: 18px;
  }
  /*Learn more button displayed below text*/
  #learn-more-button {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  /*Make project images respnsive to screen size*/
  .project-images img {
    width: 210px;
  }
  .project-section {
    padding-bottom: 30px;
  }
  /*Text about our projects*/
  #project-text {
    font-size: 32px;
    width: 400px;
    left: 20%;
    position: relative;
  }

  /*Button displayed in project section*/
  #project-button {
    display: block;
    position: absolute;
    left: 5%;
    margin-top: 10%;
  }
  /* Updated CSS styles */
  .video-container {
    display: flex;
    flex-direction:row;
  }

  .iframe-container {
    flex: 1;
  }
  .text-video {
    flex: 1;
  }

  .video-container .iframe-container {
    flex: 1;
    margin-left: 30px; /* Increase this value to move the video more to the right */
  }

  .video-container h2 {
    flex: 1;
    margin-right: 50px;
  }

  /*Button displayed in video section (third section)*/
  #video-button {
    margin-top: 20px;
    justify-content: center;
    display: block;
  }
  #text-video {
    margin-top: -200px; /* Adjust this value to control the vertical gap between the video and text */
    margin-left: 25px; /* Adjust this value to move the text more to the right */
    max-width: 300px;
    font-size: 26px;
  }
  /*Use flexbox display content next to each other*/
  .volunteer-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px; /* add padding to create space on sides */
  }

  .content {
    flex: 1;
    max-width: 50px;
  }
  /*Add margin to image in volunteer section*/
  .image-container {
    margin-left: 20px;
  }

  /*Make list inline and centered*/
  .contact {
    display: flex;
    justify-content: center;
  }

  .contact ul {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .contact ul li {
    text-align: center;
  }
}
/* Large devices (laptops and desktops, 830px and up) */
@media screen and (min-width: 830px) {
  /*Navbar styles with dropdown toggle*/
  nav {
    font-size: 16px; /*Change to bigger font size*/
  }
  /*When you hover over submenu*/
  nav ul .submenu:hover ul {
    font-size: 17px; /*Change to bigger font size*/
  }
  /*Change size of images*/
  .project-images img {
    width: 240px;
    margin: 10px;
  }

  /*Text about our projects*/
  #project-text {
    font-size: 33px;
    width: 400px;
  }
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /*Style logo*/
  .logo {
    font-size: 20px;
  }
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

  /*Information about us, displayed below homepage image*/
  .info-about-us {
    font-size: 1.5em;
  }

  /*Text about us*/
  .info-about-us p {
    font-size: 2rem;
    margin-top: 1em;
  }

  /*Change size of images*/
  .project-images img {
    width: 300px;
    margin: 0.937rem;
  }

  /*Text about our projects*/
  #project-text {
    font-size: 35px;
    width: 500px;
    left: 20%;
    font-weight: normal;
    margin-top: 2%;
  }
  /*Button*/
  .button {
    font-size: 20px;
    padding: 18px 23px;
  }
  /*When you hover over project button*/
  a:hover,
  #project-button:hover {
    font-size: 22px;
  }
  /*Style video container*/
  .iframe-container {
    width: 500px; /*16:9 Aspect Ratio*/
    height: 281px; /*16:9 Aspect Ratio*/
    margin-top: 25px;
  }
  #text-video {
    margin-top: 80px; /* Adjust this value to control the vertical gap between the video and text */
    margin-left: 90px; /* Adjust this value to move the text more to the right */
    width: 400px;
    font-size: 26px;
  }
}
/* Larger devices (laptops and desktops, 1228px and up) */
@media screen and (min-width: 1228px) {
  /*When you hover over options, the text gets bigger*/
  /*Make logo bigger as well*/
  nav ul li:hover > a,
  nav ul .submenu ul li:hover > a,
  .logo {
    font-size: 25px;
  }

  /*Navbar styles with dropdown toggle*/
  /*When you hover over submenu*/
  nav,
  nav ul .submenu:hover ul {
    font-size: 20px;
  }
  /*Make more space at the bottom of the first section*/
  .info-about-us {
    margin-bottom: 170px;
  }

  /*Change size of images*/
  .project-images img {
    margin-right: 4rem;
  }

  /*Text about our projects*/
  #project-text {
    font-size: 40px;
    width: 750px;
    left: 15%;
    font-weight: normal;
    margin-top: 2%;
  }
  /*Button*/
  .button {
    font-size: 20px;
    padding: 18px 23px;
  }
  .project-button {
    left: 8%;
    margin-top: -6%;
  }

  /*When you hover over project button*/
  a:hover,
  #project-button:hover {
    font-size: 22px;
  }
  .video-container {
    margin: 150px;
  }
}
