/*Asterisk wildcard selector*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*General styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Header*/
header {
  background-color: #ff895d;
  margin: 0;
  padding: 1.3rem;
  /*Create flex container*/
  display: flex;
  /*Position logo to the left and menu bar to the right*/
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*Main content*/
ma {
  background-color: #d5eeff;
  /*Make main take up most space and push footer down*/
  flex: 1 0 auto;
}
/*Footer*/
footer {
  background-color: #d5eeff;
}
